rechnung.dtd

<!ELEMENT RECH (RENR, RDAT, KNR, KNAME, PLZ, ORT, Strasse, ARTNR, ARTBEZ, BMENGE, ERBET)>
<!ELEMENT RENR (#PCDATA)>
<!ELEMENT RDAT (#PCDATA)>
<!ELEMENT KNR (#PCDATA)>
<!ELEMENT KNAME (#PCDATA)>
<!ELEMENT PLZ (#PCDATA)>
<!ELEMENT ORT (#PCDATA)>
<!ELEMENT Strasse (#PCDATA)>
<!ELEMENT ARTNR (#PCDATA)>
<!ELEMENT ARTBEZ (#PCDATA)>
<!ELEMENT BMENGE (#PCDATA)>
<!ELEMENT ERBET (#PCDATA)>